@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .min-fill-height {
    min-height: -webkit-fill-available;
  }
  .max-fill-height {
    max-height: -webkit-fill-available;
  }
  .fill-height {
    height: -webkit-fill-available;
  }
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .text-shadow {
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
  }
}

@layer base {
  body {
    @apply bg-slate-50 dark:bg-slate-900;
  }
  /* h1, h2, h3, h4, p, a {
    @apply mix-blend-difference;
  } */
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
  h3 {
    @apply text-lg;
  }
  h4 {
    @apply font-bold;
  }
  p {
    @apply text-base;
  }
}
